* {
    box-sizing: border-box;
}



html {
    line-height: 1.5;
    font-family: poppins, sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
}

img {
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 0;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
}


button {
    cursor: pointer;
}

