
.header {
    padding: 15px 20px;

    a {
        font-size: 40px;
        &:hover {
            transform: rotate(10deg) scale(1.1);
        }
    }

    .nav {
        gap: 10px;

        a {
            transform: unset;
            color: #6426d9;
            padding: 10px 20px;
            font-size: 20px;
            border: 1px solid transparent;
            border-radius: 30px;
            
            &.active {
                border: 1px solid #6426d9;
            }
            
            &:hover {
                border: 1px solid #6426d9;
                background-color: #6426d9;
                color: white;
            }
        }
    }
}