
.header {
    padding: 15px 20px;

    a {
        font-size: 25px;
        font-family: pacifico, sans-serif;
        &:hover {
            transform: rotate(8deg) scale(1.1);
        }

        @media screen and (min-width: 550px) {
            font-size: 30px;
        }
        @media screen and (min-width: 700px) {
            font-size: 40px;
        }

    }

    .nav {
        gap: 10px;

        a {
            font-family: poppins, sans-serif;
            font-weight: 300;
            transform: unset;
            color: #6426d9;
            padding: 10px 20px;
            font-size: 14px;
            border: 1px solid transparent;
            border-radius: 30px;
            
            &.active {
                border: 1px solid #6426d9;
            }
            
            &:hover {
                border: 1px solid #6426d9;
                background-color: #6426d9;
                color: white;
            }

            @media screen and (min-width: 550px) {
                font-size: 16px;
            }
            @media screen and (min-width: 700px) {
                font-size: 20px;
            }

        }
    }
}